In [35]:
import pandas as pd

In [36]:
df1 = pd.read_csv('data/유동인구_1월.csv', encoding = 'euc_kr')
df2 = pd.read_csv('data/유동인구_8월.csv', encoding = 'euc_kr')

In [37]:
df1

        base_date  time   emd_nm  age  resd_pop_cnt  visit_pop_cnt
0        20190101     1  제주시 건입동    0      744.8949       324.0720
1        20190101     1  제주시 건입동   10      838.6952       375.6734
2        20190101     1  제주시 건입동   20      707.8872       696.8198
3        20190101     1  제주시 건입동   30      803.3395       739.9015
4        20190101     1  제주시 건입동   40     1331.5881       825.1003
...           ...   ...      ...  ...           ...            ...
158908   20190129     8  제주시 한림읍   40     3199.9603      1337.2697
158909   20190129     8  제주시 한림읍   50     3204.9956      1440.2643
158910   20190129     8  제주시 한림읍   60     2615.3111       830.5845
158911   20190129     8  제주시 한림읍   70     1159.6225       300.2995
158912   20190129     8  제주시 한림읍   80      725.4422       162.0234

[158913 rows x 6 columns]

In [52]:
a = df1.copy()
b = a.drop(['time', 'age', 'resd_pop_cnt'], axis = 1)
c = round(b.groupby(['base_date','emd_nm']).mean())
c.rename(columns = {'visit_pop_cnt' : '1월 유동인구'}, inplace=  True)
d = c.groupby(['emd_nm']).sum()
d['1월 유동인구'] = d['1월 유동인구'] * 30
d

            1월 유동인구
emd_nm
제주시 건입동    591870.0
제주시 구좌읍    654420.0
제주시 노형동   1916550.0
제주시 도두동    331380.0
제주시 봉개동    353250.0
제주시 삼도1동   569190.0
제주시 삼도2동   533430.0
제주시 삼양동    468960.0
제주시 아라동   1139130.0
제주시 애월읍   1946370.0
제주시 연동    2098140.0
제주시 오라동   1132290.0
제주시 외도동    455610.0
제주시 용담1동   377130.0
제주시 용담2동  1131210.0
제주시 우도면    108330.0
제주시 이도1동   723030.0
제주시 이도2동  2404350.0
제주시 이호동    271680.0
제주시 일도1동   252660.0
제주시 일도2동   993510.0
제주시 조천읍   1064460.0
제주시 추자면    133680.0
제주시 한경면    284670.0
제주시 한림읍    793410.0
제주시 화북동    793380.0

In [50]:
e = df2.copy()
f = e.drop(['time', 'age', 'resd_pop_cnt'], axis = 1)
f = round(f.groupby(['base_date','emd_nm']).mean())
f.rename(columns = {'visit_pop_cnt' : '8월 유동인구'}, inplace=  True)
g = f.groupby(['emd_nm']).sum()
g['8월 유동인구'] = g['8월 유동인구'] * 30
g

            8월 유동인구
emd_nm
제주시 건입동    653340.0
제주시 구좌읍    971820.0
제주시 노형동   1976490.0
제주시 도두동    355890.0
제주시 봉개동    487560.0
제주시 삼도1동   542250.0
제주시 삼도2동   534570.0
제주시 삼양동    464190.0
제주시 아라동   1279110.0
제주시 애월읍   2339820.0
제주시 연동    2030250.0
제주시 오라동   1086060.0
제주시 외도동    430110.0
제주시 용담1동   377220.0
제주시 용담2동  1346190.0
제주시 우도면    161430.0
제주시 이도1동   834390.0
제주시 이도2동  2180640.0
제주시 이호동    331230.0
제주시 일도1동   255720.0
제주시 일도2동   919020.0
제주시 조천읍   1401240.0
제주시 추자면    138000.0
제주시 한경면    364650.0
제주시 한림읍   1104210.0
제주시 화북동    814950.0

In [53]:
df3 = pd.concat([d, g], axis = 1)
df3

            1월 유동인구    8월 유동인구
emd_nm
제주시 건입동    591870.0   653340.0
제주시 구좌읍    654420.0   971820.0
제주시 노형동   1916550.0  1976490.0
제주시 도두동    331380.0   355890.0
제주시 봉개동    353250.0   487560.0
제주시 삼도1동   569190.0   542250.0
제주시 삼도2동   533430.0   534570.0
제주시 삼양동    468960.0   464190.0
제주시 아라동   1139130.0  1279110.0
제주시 애월읍   1946370.0  2339820.0
제주시 연동    2098140.0  2030250.0
제주시 오라동   1132290.0  1086060.0
제주시 외도동    455610.0   430110.0
제주시 용담1동   377130.0   377220.0
제주시 용담2동  1131210.0  1346190.0
제주시 우도면    108330.0   161430.0
제주시 이도1동   723030.0   834390.0
제주시 이도2동  2404350.0  2180640.0
제주시 이호동    271680.0   331230.0
제주시 일도1동   252660.0   255720.0
제주시 일도2동   993510.0   919020.0
제주시 조천읍   1064460.0  1401240.0
제주시 추자면    133680.0   138000.0
제주시 한경면    284670.0   364650.0
제주시 한림읍    793410.0  1104210.0
제주시 화북동    793380.0   814950.0

In [54]:
import numpy as np
df3['mean_유동인구'] = round((df3['1월 유동인구']+df3['8월 유동인구'])/2)
df3

            1월 유동인구    8월 유동인구  mean_유동인구
emd_nm
제주시 건입동    591870.0   653340.0   622605.0
제주시 구좌읍    654420.0   971820.0   813120.0
제주시 노형동   1916550.0  1976490.0  1946520.0
제주시 도두동    331380.0   355890.0   343635.0
제주시 봉개동    353250.0   487560.0   420405.0
제주시 삼도1동   569190.0   542250.0   555720.0
제주시 삼도2동   533430.0   534570.0   534000.0
제주시 삼양동    468960.0   464190.0   466575.0
제주시 아라동   1139130.0  1279110.0  1209120.0
제주시 애월읍   1946370.0  2339820.0  2143095.0
제주시 연동    2098140.0  2030250.0  2064195.0
제주시 오라동   1132290.0  1086060.0  1109175.0
제주시 외도동    455610.0   430110.0   442860.0
제주시 용담1동   377130.0   377220.0   377175.0
제주시 용담2동  1131210.0  1346190.0  1238700.0
제주시 우도면    108330.0   161430.0   134880.0
제주시 이도1동   723030.0   834390.0   778710.0
제주시 이도2동  2404350.0  2180640.0  2292495.0
제주시 이호동    271680.0   331230.0   301455.0
제주시 일도1동   252660.0   255720.0   254190.0
제주시 일도2동   993510.0   919020.0   956265.0
제주시 조천읍   1064460.0  1401240.0  1232850.0
제주시 추자면    133680.0   138000.0   135840.0
제주시 한경면    284670.0   364650.0   324660.0
제주시 한림읍    793410.0  1104210.0   948810.0
제주시 화북동    793380.0   814950.0   804165.0

In [55]:
유동인구 = df3.loc[:,'mean_유동인구']
유동인구

emd_nm
제주시 건입동      622605.0
제주시 구좌읍      813120.0
제주시 노형동     1946520.0
제주시 도두동      343635.0
제주시 봉개동      420405.0
제주시 삼도1동     555720.0
제주시 삼도2동     534000.0
제주시 삼양동      466575.0
제주시 아라동     1209120.0
제주시 애월읍     2143095.0
제주시 연동      2064195.0
제주시 오라동     1109175.0
제주시 외도동      442860.0
제주시 용담1동     377175.0
제주시 용담2동    1238700.0
제주시 우도면      134880.0
제주시 이도1동     778710.0
제주시 이도2동    2292495.0
제주시 이호동      301455.0
제주시 일도1동     254190.0
제주시 일도2동     956265.0
제주시 조천읍     1232850.0
제주시 추자면      135840.0
제주시 한경면      324660.0
제주시 한림읍      948810.0
제주시 화북동      804165.0
Name: mean_유동인구, dtype: float64

In [56]:
유동인구.to_csv('유동인구.csv', encoding = 'euc_kr')